Ticker	Company	CEO Name	Year	Compensation ($)
DISCA	Discovery Communications, Inc.	David M. Zaslav	2014	$156,077,912
GBL	Gamco Investors, Inc. Et Al	Mario J. Gabelli	2014	$88,518,411
MSFT	Microsoft Corp	Satya Nadella	2014	$84,308,755
ORCL	Oracle Corp	Lawrence J. Ellison	2014	$67,261,251
LGF	Lions Gate Entertainment Corp	Jon Feltheimer	2014	$63,601,493
BAS	Basic Energy Services Inc	T.M. (Roe) Patterson	2014	$62,863,840
QCOM	Qualcomm Inc	Steven M. Mollenkopf	2014	$60,740,592
CBS	CBS Corp	Leslie Moonves	2014	$57,175,645
S	Sprint Corp	Daniel R. Hesse	2013	$47,077,699
DIS	Walt Disney Co	Robert A. Iger	2014	$46,497,018
VIAB	Viacom Inc.	Philippe P. Dauman	2014	$44,334,858
MBI	MBIA Inc	Joseph W. Brown	2014	$43,602,334
YHOO	Yahoo Inc	Marissa A. Mayer	2014	$42,083,508
REGN	Regeneron Pharmaceuticals Inc	Leonard S. Schleifer, M.D., Ph.D	2014	$41,965,424
AMCX	AMC Networks Inc.	Mr. Joshua W. Sapan	2014	$40,313,856
CRM	Salesforce Com Inc	Marc Benioff	2015	$39,907,534
PRU	Prudential Financial Inc	John R Strangfeld	2014	$37,483,092
GE	General Electric Co	Jeffrey R. Immelt	2014	$37,250,774
VRTX	Vertex Pharmaceuticals Inc	Jeffrey M. Leiden	2014	$36,635,468
TWC	Time Warner Cable Inc.	Rob Marcus	2014	$34,615,597
LMT	Lockheed Martin Corp	Marillyn A. Hewson	2014	$33,687,442
HIG	Hartford Financial Services Group Inc	Liam Mcgee	2014	$33,479,089
UTHR	United Therapeutics Corp	Martine Rothblatt	2014	$33,214,929
XOM	Exxon Mobil Corp	R.W. Tillerson	2014	$33,096,312
CMCSA	Comcast Corp	Brian L. Roberts	2014	$32,961,056
TWX	Time Warner Inc.	Jeffrey L. Bewkes	2014	$32,903,139
INCY	Incyte Corp	Herv?? Hoppenot	2014	$32,691,026
CZR	Caesars Entertainment Corp	Gary Loveman	2014	$32,650,741
ARMK	Aramark	Eric J. Foss	2014	$32,422,382
LVNTB	Liberty Interactive Corp	Gregory B. Maffei	2014	$32,368,101
CVS	CVS Health Corp	Larry J. Merlo	2014	$32,350,733
N	NetSuite Inc	Zachary Nelson	2014	$31,640,991
SFXE	SFX Entertainment, Inc	Robert F. X. Sillerman	2013	$30,286,521
TDG	Transdigm Group Inc	W. Nicholas Howley	2014	$30,245,400
JNPR	Juniper Networks Inc	Shaygan Kheradpir	2014	$30,165,992
VGR	Vector Group Ltd	Howard M. Lorber	2014	$29,636,639
FOXA	Twenty-First Century Fox, Inc.	K. Rupert Murdoch	2014	$29,247,871
HON	Honeywell International Inc	David M. Cote	2014	$29,142,121
CMG	Chipotle Mexican Grill Inc	Steve Ells	2014	$28,924,270
BA	Boeing Co	W. James Mcnerney, Jr	2014	$28,861,920
TJX	TJX Companies Inc	Carol Meyrowitz	2015	$28,692,391
TGT	Target Corp	Brian C. Cornell	2014	$28,164,024
UNP	Union Pacific Corp	John J. Koraleski	2014	$28,144,047
SSTK	Shutterstock, Inc.	Jonathan Oringer	2014	$27,586,959
COP	ConocoPhillips	R.M. Lance	2014	$27,575,900
RTN	Raytheon Co	William H. Swanson	2014	$27,371,707
AR	Antero Resources Corp	Paul M. Rady	2014	$27,334,673
UTX	United Technologies Corp	Louis Ch??nevert	2014	$27,107,982
BMY	Bristol Myers Squibb Co	Lamberto Andreotti	2014	$27,062,382
LQ	La Quinta Holdings Inc.	Wayne B. Goldberg	2014	$26,739,908
DOW	Dow Chemical Co	Andrew Liveris	2014	$26,642,438
CYH	Community Health Systems Inc	Wayne T. Smith	2014	$26,441,382
KATE	Kate Spade & Co	William Mccomb	2014	$26,225,335
CVX	Chevron Corp	J.S. Watson	2014	$25,970,417
IMS	IMS Health Holdings, Inc.	Ari Bousbib	2014	$25,936,121
MCK	McKesson Corp	John H. Hammergren	2014	$25,919,882
TPC	Tutor Perini Corp	Ronald N. Tutor	2014	$25,555,415
WYNN	Wynn Resorts Ltd	Stephen A. Wynn	2014	$25,322,854
KO	Coca Cola Co	Muhtar Kent	2014	$25,224,422
MRK	Merck & Co. Inc.	Kenneth C. Frazier	2014	$25,029,370
JNJ	Johnson & Johnson	Alex Gorsky	2014	$24,989,306
PINC	Premier, Inc.	Susan D. Devore	2014	$24,909,229
WSTC	West Corp	Thomas B. Barker	2014	$24,628,995
RL	Ralph Lauren Corp	Ralph Lauren	2014	$24,537,936
PSX	Phillips 66	Greg C. Garland	2014	$24,508,433
TRW	TRW Automotive Holdings Corp	John C. Plant	2013	$24,466,286
HOLX	Hologic Inc	Stephen P. Macmillan	2014	$24,458,289
AMP	Ameriprise Financial Inc	James M. Cracchiolo	2014	$24,455,192
CELG	Celgene Corp	Robert J. Hugin	2014	$24,236,113
MSTR	Microstrategy Inc	Michael J. Saylor	2014	$24,101,665
LB	L Brands, Inc.	Leslie H. Wexner	2014	$24,094,036
OMC	Omnicom Group Inc.	John D. Wren	2014	$24,014,697
LADR	Ladder Capital Corp	Brian Harris	2014	$24,003,492
T	AT&T Inc.	R. Stephenson	2014	$23,984,315
BLK	BlackRock Inc.	Laurence D. Fink	2014	$23,862,458
CVC	Cablevision Systems Corp	James L. Dolan	2014	$23,702,403
PFE	Pfizer Inc	I. Read	2014	$23,283,048
MS	Morgan Stanley	James P. Gorman	2014	$23,270,044
CPRT	Copart Inc	A. Jayson Adair	2014	$22,878,001
AXP	American Express Co	K.I. Chenault	2014	$22,796,083
ROP	Roper Industries Inc	Brian D. Jellison	2014	$22,689,220
PEP	Pepsico Inc	Indra K. Nooyi	2014	$22,485,574
HES	Hess Corp	John B Hess	2014	$22,459,530
XRX	Xerox Corp	Ursula M. Burns	2014	$22,205,362
GS	Goldman Sachs Group Inc	Lloyd C. Blankfein	2014	$22,162,912
AFSI	Amtrust Financial Services, Inc.	Barry D. Zyskind	2014	$22,130,044
ENDP	Endo International Plc	Rajiv De Silva	2014	$22,071,596
F	Ford Motor Co	Alan Mulally	2014	$22,042,128
ABBV	Abbvie Inc.	Richard A. Gonzalez	2014	$22,006,271
PCLN	Priceline Group Inc.	Darren Huston	2014	$21,966,094
NOC	Northrop Grumman Corp	Wesley G. Bush	2014	$21,795,703
PPG	PPG Industries Inc	C. E. Bunch	2014	$21,628,081
DVN	Devon Energy Corp	John Richels	2014	$21,611,030
SBUX	Starbucks Corp	Howard Schultz	2014	$21,466,454
WFC	Wells Fargo & Company	John G. Stumpf	2014	$21,426,391
MDLZ	Mondelez International, Inc.	Irene Rosenfeld	2014	$21,039,946
TSO	Tesoro Corp	Gregory J. Goff	2014	$20,855,549
APC	Anadarko Petroleum Corp	R. A. Walker	2014	$20,720,187
D	Dominion Resources Inc	Thomas F. Farrell, II	2014	$20,612,945
ALXN	Alexion Pharmaceuticals Inc	Leonard Bell, M.D.	2014	$20,570,703
